[2020-02-11 10:04] alachaum opened #3 "Option to store job payloads in redis"
Cloud Tasks enforces a limit of 100 KB for the task size. Excluding headers and meta information, this leaves ~80-90KB for free space of the actually job parameters.

Cloudtasker is currently configured to raise a `Cloudtasker::MaxTaskSizeExceededError` if the job payload is greater than 100 KB.

We could actually improve that behaviour by allowing users to choose Redis for storing payloads (with

[2020-02-11 10:06] alachaum opened #4 "Job UI"
It would be useful to provide an optional UI - at least in development mode - showing the list of jobs pending, running, which ones have failed and the failure reason.

[2020-03-09 14:28] alachaum commented on #3
Closed by 1d059aa39b1cf24ea09d90ab50135bd8957b7ea3

[2020-03-09 14:28] #3 closed

[2020-04-21 18:29] alachaum opened #6 "Change Cloud Task header used to retrieve retries"
The `X-CloudTasks-TaskExecutionCount` header sent by Google Cloud Tasks and providing the number of retries outside of `HTTP 503` (instance not reachable) is currently bugged and remains at `0` all the time.

Starting with `0.10.rc3` Cloudtasker uses the `X-CloudTasks-TaskRetryCount` header to detect the number of retries. This header includes `HTTP 503` errors which means that if your application

[2020-06-24 17:38] alachaum opened #11 "Switch to google-cloud-tasks v2"
See: https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-tasks/MIGRATING.md

google-cloud-tasks was locked to `v1` in cloudtasker `v0.10.rc8`

[2020-08-08 01:59] vovimayhem opened #12 "ActiveJob Adapter"
It would be cool for Cloudtasker to be a backend for Rails [ActiveJob](https://guides.rubyonrails.org/active_job_basics.html)

This would require implementing an [ActiveJob::QueueAdapter](https://api.rubyonrails.org/v6.0.3.2/classes/ActiveJob/QueueAdapters.html) on this library.

I've already done this for another project, so maybe I can help.

[2020-08-11 10:17] retsef commented on #12
It will be very helpfull. If you already did, you can propose with a pull request 😉

[2020-08-24 09:51] alachaum commented on #12
@vovimayhem that would be great actually. Would you like to propose a PR? Otherwise I can have a look at that when I've got some spare time.

[2020-08-26 16:53] vovimayhem commented on #12
I haven't worked on it yet - I first wanted to know if this feature was on the project's interest or not :)

I think I'll have some time next week, maybe I can take a look at it.

[2020-08-26 16:54] vovimayhem commented on #12
I'd say let's ping here if me or anyone starts working on this feature :)

[2020-09-02 16:28] alachaum commented on #12
No worries @vovimayhem. No rush :)

[2020-09-06 02:27] vovimayhem opened #14 "Speed up the build process on Github"
The build process using Github Actions is cool, but takes a bit of time.

I think I have a couple of ideas to speed it up. Namely:

- Use caching
- Use docker to run the tests

[2020-09-06 02:32] vovimayhem commented on #14
Also, given [Codeclimate is free for open source projects](https://codeclimate.com/blog/code-climate-is-free-for-open-source), and that there's a Rubocop plugin for codeclimate, I think we should delegate the code style checks to codeclimate instead, and keep Github Actions focused on running the tests (and even release the gem - I've already done it on other projects)

[2020-09-11 04:10] vovimayhem opened #15 "Re-implement Cloudtasker Worker controller as a Rack App"
After taking a look at how the worker processor is implemented (the part that receives the tasks from Google Cloud Tasks to be processed), I found out there's a ready-to-use controller for rails, but for folks using anything else they'll need to re-implement the controller themselves (as shown in the sinatra example)

I think we can have a *single* implementation of the controller as a rack applic

[2020-09-11 08:12] alachaum commented on #15
Great idea. It would make the library way more portable.

[2020-09-11 08:16] alachaum commented on #14
From memory the part that takes most time is setting up each appraisal context (gems). I haven't had time to investigate caching strategies for that yet.

Codeclimate is a good idea but it's a paying option as cloudtasker is hosted under Keypup's account. If we end up taking a codeclimate subscription I'll switch cloudtasker over.

Let's keep this issue open to track progress on caching gems at bu

[2020-09-11 15:45] vovimayhem commented on #14
It's totally possible to get Codeclimate for free on public repositories, regardless of the repositories' owner account (Keypup in this case). I've done it many ties before for the org I belong to (IcaliaLabs).

[2020-09-12 08:41] alachaum commented on #14
Let's see if we can use the native caching capabilities of GitHub actions (I've done it with CircleCI but not with GitHub so far). If it's too constraining then Docker is a good option.

Regarding Codeclimate I'll have a look again. I may have been confused with another service.

[2020-09-12 09:04] alachaum opened #16 "Ability to tag or add context to jobs"
I sometimes feel that job arguments are not enough or become too expansive when a certain context needs to be passed down to sub jobs (especially in the context of batch jobs)

I feel like it could be nice to have tags or a shared context that can be inherited by jobs so we can know the source/lineage of the job and take actions based on that.

E.g:
- you have generic jobs used to retrieve data fr

[2020-09-12 17:47] vovimayhem commented on #15
Started working on it - I currently have a standalone `WorkerController` implemented using only Rack. But then I came across another idea: Given there's now a standalone rack app, let's have the ability to start just the standalone rack app to process the incoming tasks, and leave the Rails/Hanami/Sinatra/etc app routers alone, separating the `web` process from the `worker` process.

In this way,

[2020-09-13 02:23] vovimayhem commented on #15
(Although we'd still need to load Rails on the workers, if we're going to use ActiveRecord objects in our jobs...)

[2020-09-13 19:16] alachaum commented on #15
@vovimayhem I'm not sure to see the benefit of having a separate process for the controller. It's easier to start a single web app, especially considering that the rack controller needs to have access to the whole code base. So separating the controller in a different process would just duplicate the app in the end, for a single purpose (processing jobs). I don't see any benefit in doing that.

If

[2020-09-24 04:01] vovimayhem commented on #15
I screwed up my changes that day... couldn't rescue anything, so I'll need to do it again (no more `git reset --hard` for me, thank you). I remember it wasn't that much difficult.

I kinda see some value on this, but I acknowledge it's might not be worth the effort right now. Got it!

[2020-12-15 14:45] jan-kaczorowski opened #19 "ActiveJob initialization issue: ActiveJob::QueueAdapters::CloudtaskerAdapter not loaded properly"
Rails v. 5.2.2
Cloudtasker gem v. 0.11.rc2

After configuring the project as instructed in README, error is being thrown on launch. Looks like **ActiveJob::QueueAdapters::CloudtaskerAdapter** is not loaded properly from gem.
config/environments/production.rb|development.rb files, where executing `config.active_job.queue_adapter = :cloudtasker` are hitting against class that's not initialized.
[cod

[2020-12-15 15:13] jan-kaczorowski commented on #19
update:
adding: `require 'active_job/queue_adapters/cloudtasker_adapter'` here `https://github.com/keypup-io/cloudtasker/blob/master/lib/cloudtasker.rb` on line `21` right below `cloudtasker/worker` solves the issue.

[2020-12-15 16:11] jan-kaczorowski commented on #19
Ignore previous solution. Works but very crude. I can see, the source of the problem is: `lib/cloudtasker/engine.rb:15`
[code]

seems that the code in the block does not really get run

[2020-12-16 13:19] alachaum commented on #19
@jan-kaczorowski thanks for reporting this. Let me double check on my side the load sequence for Rails 5.

[2020-12-16 15:11] Fodoj commented on #19
Happens on Rails 6 as well

[2020-12-16 15:45] alachaum commented on #19
@Fodoj Hmmm... I wonder why I didn't get the issue locally. I'll try more autoloading scenarios then.

[2020-12-16 17:21] alachaum commented on #12
Implemented in #18

[2020-12-16 17:21] #12 closed

[2020-12-16 20:19] Fodoj commented on #19
@alachaum if it helps with debugging, we had this happening after adding skylight gem, which is also visible in the stacktrace. I understand its a rather specific combination, though:

[code]

[2020-12-16 20:21] Fodoj commented on #19
Error rises during execution of this commands (cloudtasker is not part of specific group in Gemfile, skylight is included in production only):

[code]

[2020-12-17 11:18] alachaum commented on #19
@Fodoj thanks for the details, I'll try on my side.

[2020-12-24 00:22] benbonnet commented on #19
had the same issue (rails 6, ruby 2.6)

Solved this by having a look at your test repo. you're using `0.11.rc2`

By default (simply using `gem 'cloudtasker'`), `0.10.1` is installed

[2020-12-25 18:26] alachaum commented on #19
@benbonnet that's right, the ActiveJob adapter is not yet available in the mainstream version. Needs to point to release candidates.

@jan-kaczorowski @Fodoj I've made a few adjustments to the initialization process, tested it with the `skylight` gem and published a new version. Would you be able to update your cloudtasker version to `0.11.rc3` and let me know how it looks on your end?

[2021-01-01 23:04] jan-kaczorowski commented on #19
@alachaum I did a little checking and testing and it seems `0.11.rc3` runs without issues.

Question: Are there any plans to integrate Google Cloud Scheduler to be cron operator instead of redis?

[2021-01-14 09:44] alachaum opened #20 "Support cron scheduling via GCP Cloud Scheduler"
Currently cron jobs are managed using Cloud Tasks and Redis. Investigate a way to also support Cloud Scheduler to eliminate the dependency on Redis.

[2021-01-14 09:46] alachaum commented on #19
@jan-kaczorowski Great! I'm going to close this issue then and prepare an official release for `0.11`.

Regarding Cloud Scheduler, I've raised an issue to track this feature: https://github.com/keypup-io/cloudtasker/issues/20

[2021-01-14 09:46] #19 closed

[2021-01-15 08:47] Fodoj opened #22 "Support handling failed ActiveJob tasks"
If ActiveJob job fails, then CloudTasker returns 422 error code and that's it. Cloud Tasks will keep re-trying this job for some time, but that's about it. We are using Rollbar to report about exceptions, but in this case exception will never reach Rollbar (or other exception tracking systems I would assume) because every error is rescued here https://github.com/keypup-io/cloudtasker/blob/a50776d3

[2021-01-15 12:12] alachaum commented on #22
Thanks for reporting @Fodoj . So just to confirm, any use of `Logger.error` will not impact the exceptions reported in Rollbar?

The reason for returning `422` is to be explicit about the fact that the job failed but the framework didn't. Job failures are expected and that's why I made the choice of not returning a `503` (unhandled server exception).

I'll do a bit of bit digging to see if there i

[2021-01-15 13:27] Fodoj commented on #22
Exactly - Rollbar alerts on new exceptions, but if there was nothing raised, it won't know.

Only problem is that the error is also not in the standard logs that rails stdouts (to cloud run, for example), so we can't see what happened, only that it retured 422 error :-)

If the job raises exception, then application would return 500, which is basically what happened in our case (exception in the a

[2021-01-16 10:35] Fodoj opened #23 "Long running jobs and HTTP timeout"
More of a question than an issue: how does CloudTasker handle long running jobs? If I would want to run a jog that takes 30 minutes (some video encoding for example), will it timeout? Because I assume by default HTTP request will timeout pretty fast.

[2021-01-16 15:46] Fodoj commented on #20
Is it already worked one? If not, I can take a look at this one. I guess the starting point would be here https://github.com/keypup-io/cloudtasker/blob/master/lib/cloudtasker/cron/schedule.rb.

[2021-01-22 10:03] alachaum commented on #20
@Fodoj not it's not worked on yet. Feel free to give it a try! 😄

You can create a new module called `CloudScheduler` (instead of cron). The implementation should be relatively straightforward but there isn't much doc about the shape of the Cloud Scheduler webhooks. So you'll have to experiment via ngrok.

Cloud Scheduler does support unique names for jobs. It should therefore be possible to looku

[2021-01-22 10:10] alachaum commented on #23
So it really depends on two things:
- the caller (Cloud Tasks). The default timeout is 10 mins and can be extended up to 30 mins.
- your runtime (Cloud Run, App Engine, other). For Cloud Run, the default timeout is 5 minutes and can be extended up to 60 minutes.

If the caller (Cloud Tasks) drops, Cloudtasker will keep processing the job until the runtime dies or the thread is cut. But from a call

[2021-01-22 10:18] alachaum commented on #22
I'd like to still be able to differentiate framework errors (500) from job errors (422).

My preferred approach would be to specify a lambda in the `Cloudtasker` initializer allowing users to specify error reporting strategies. Would the below work for you?

E.g. with Rollbar

[code]

Regarding Rails stdout, I'm a bit surprised. By default Cloudtasker configures itself to use the Rails logger when

[2021-01-22 10:57] Fodoj commented on #22
For example, in my case we made a mistake in the code, and code raised an exception. This would happen every time job runs, not just sometimes.

What would be the example of a framework error?

Yes, nothing, only 422 error from CloudTasker and thats it. We log everything to stdout, on CloudRun. And stack trace wont ever be in the log, because CloudTasker current rescues any exception. No exception

[2021-01-22 11:01] Fodoj commented on #23
Cool, so its up to 30 minutes basically. Thanks a lot for the detailed answer!

[2021-02-03 09:09] #23 closed

[2021-02-26 13:22] alachaum opened #24 "Do not swallow batch callback errors"
Callback errors are currently swallowed.
See: https://github.com/keypup-io/cloudtasker/blob/76fc1223bd4a8601ade2b8d336295f9021e6d197/lib/cloudtasker/batch/job.rb#L263

We should instead consider the job to be failed and let retries do their job.

[2021-02-27 06:49] alachaum commented on #22
@Fodoj I'm resuming work on this issue.

Putting rollbar aside for a moment I'd like to understand why you do not see any stack trace in your logs. That's definitely unusual considering that any error will be logged by Cloudtasker and that Cloudtasker is configured to use the Rails logger by default.

**So a few questions about your setup:**
- In your `cloudtasker.rb` initializer, did you configur

[2021-03-11 16:36] #24 closed

[2021-04-19 09:26] shaundowling opened #27 "Ruby 3.0.1 ArgumentError"
Hello

I'm trying to give this gem a whirl on ruby 3.0.1 using rails active job and receive an argument error when enqueuing a job.

[code]

I think it is related to the positional arguments changes [detailed here](https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/).

I checked out the source and can confirm tests are green on 2.7.3 and red on

[2021-04-19 09:31] alachaum commented on #27
@shaundowling thanks for reporting. I'll have a look at this and fix it. It should take long to make cloudtasker 3.0-compatible.

[2021-04-19 12:02] alachaum commented on #22
@Fodoj I would be keen to get you feedback on `v0.12.rc9` if you have some spare time. I've reworked exception management a bit to pass the native exception to the logger instead of preformatting it. This may help with the issue you were having.

[2021-04-19 12:10] shaundowling commented on #27
@alachaum np, thanks for the quick reply. It looked like it might be tricky depending on what backwards compatibility is required.

This lib seems like the only serious game in town for running ruby on GCP so appreciate you guys open sourcing it 🙌

[2021-04-19 12:19] alachaum commented on #27
Hehe no worries.

By the way, don't hesitate to checkout its little brother for Pub/Sub: https://github.com/keypup-io/cloudenvoy Any feedback appreciated there as well! (though we might have Rb3 compatibility issues on this project as well)

[2021-04-20 11:55] shaundowling commented on #27
cheers will take a look at that, currently looking into this as an activejob backend replacement for delayed job as the old pull worker approach doesn't really fit anymore.

I'll roll back to 2.x and give it a try.

[2021-04-27 19:10] jasonjho opened #28 "OIDC token auth"
Thanks for open sourcing a great framework. I didn't see this in the docs or codebase anywhere, but is it possible to specify the OIDC token via service account?

We would need to be able to authenticate target HTTP Tasks, but didn't see an obvious way for us to do that.

Thanks!

[2021-04-28 07:10] feute opened #29 "[Local dev server] Workers/jobs work only sometimes, throwing `NoMethodError` for the `deliver` method when failing"
Hello! I've been trying out this library for a few hours and so far it's being inconsistent. I've been testing with the `DummyWorker` and `ExampleJob` classes and they work *sometimes*. What I mean by that is that sometimes the worker works while the job doesn't, and viceversa. I tried starting the server, `cloudtasker`, and console in various ways: using separate terminals, using a Procfile with

[2021-04-28 09:13] alachaum commented on #29
Hi @feute,

It's weird, it's as if the local server queue was filled with an empty task. Would you be able to try using `v0.12.rc9` instead and let me know if the result is the same on your side?

Also, side question, do you have any logic in your application regularly clearing the cache? Or any other application running in parallel tampering with the cache?

If so, you may point Cloudtasker to a

[2021-04-28 09:19] alachaum commented on #28
Hi @jasonjho, my pleasure!

So the library has its own authentication system (we generate a JWT token for each task). The reason we implemented our own authentication system is to ensure the library still works even with non-OIDC endpoint.

Having said that, you should be able to override the '/cloudtasker/run' route and provide your own controller to support custom authentication, such as OIDC.

[2021-04-28 14:31] jasonjho commented on #28
Hi @alachaum thank you for the explanation.  Is the assumption then that these Cloud Run task handlers are deployed a public endpoint in order to receive the request to handle the custom authentication?

My understanding is if you have a Cloud Run service that is deployed privately (default), then you must authenticate Cloud Task to have the **CloudRunInvoker** role as well as include the OIDC or

[2021-04-28 16:31] feute commented on #29
I only use redis for ActionCable. I tried adding the config line for redis to use the `/5` database but it didn't do anything, I guess it's because the default is `/0` while ActionCable is configured to use `/1`, so it doesn't interfere.

I installed `v0.12.rc9` and it seemed to work better. Sometimes I get the error with the `DummyWorker`: I fire up the console and call `perform_async` on the cla

[2021-04-28 23:53] feute commented on #29
That's what I thought, that it could be affecting the local server only. I think I'm going to use `v0.12.rc9` because it works better for me.

I do have only one cloudtasker process running. I start it with `foreman start`, with no extra configuration.

Anyway, if I find out the cause of this particular error I'll update this issue. For now, I'll use the `0.12.rc9` version.

Thank you!

[2021-04-28 23:53] #29 closed

[2021-04-28 23:53] alachaum commented on #28
At the moment we use public endpoints indeed. I'll do a bit more digging to see what needs to be done in order to support OIDC.

We may indeed need to modify the way tasks are created - changing the controller might not be enough.

[2021-04-28 23:56] alachaum commented on #29
I'll still commit a small patch to avoid these errors on `v0.12`. Having some guarding against nil on the local server won't hurt.

Thanks for reporting this!

[2021-05-02 12:08] Zhong-z opened #30 "Is App Engine app/project required?"
Trying to create default queue from gcloud CLI and got the following errors.

Wondering if I missed anything during setup? Is App Engine app required to use Cloud Tasks? My web app is a Cloud Run service.

[2021-05-03 10:12] alachaum commented on #30
Hi @Zhong-z

To be honest I never noticed that requirement because we already had an App Engine project on our account.

According to their get started guide it's required: https://cloud.google.com/tasks/docs/quickstart#add_a_task_to_the_cloud_tasks_queue

They also mention it being a requirement in their "create a queue" article:
https://cloud.google.com/tasks/docs/creating-queues

[2021-05-03 10:17] alachaum commented on #6
Need to double check if GCP has fixed this recently. If they have, I'll switch the header.  If they haven't, I'll just close the issue.

The last news from my bug report was that the current behaviour was "intended". In other words they just discarded the issue despite bug reports from two differences sources.

[2021-05-04 14:12] Zhong-z commented on #30
Thanks @alachaum

[2021-05-04 14:12] #30 closed

[2021-05-31 13:11] alachaum commented on #27
@shaundowling feel free to play around with my branch on #32. The branch has `v0.12.rc10` + Ruby 3 support.

I'm targeting `v0.13` to officially release Ruby 3 support.

[2021-06-23 22:43] Reizar commented on #22
@alachaum I'm running into the same issue here. I use BugSnag to catch any exceptions thrown and just realized earlier that none of my ActiveJob exceptions were being passed to BugSnag.

From what I understand, libraries like BugSnag and Rollbar don't really work off of logs, they deal with capturing exceptions themselves.

My current workaround / solution for this, is this:
[code]

Alongside my A

[2021-06-25 08:33] alachaum commented on #22
@Reizar no worries, my pleasure :)

I actually wonder how BugSnag and Rollbar capture exceptions with regular ActiveJob (= without Cloudtasker). I'm surprised that it doesn't work out of the box considering ActiveJob has its own error handling.

In any case, I will add this `on_error` hook. It's the easiest way to give users central control on error reporting. It should be available soon in the ne

[2021-06-26 10:33] alachaum commented on #22
@Reizar I've just published [v0.12.rc11](https://rubygems.org/gems/cloudtasker/versions/0.12.rc11) with support for global `on_error` and `on_dead` callbacks. Documentation [has been updated](https://github.com/keypup-io/cloudtasker#global-callbacks).

Feel free to give it a try and let me know what you think.

[2021-06-26 23:57] Reizar commented on #22
@alachaum Awesome, thanks for that!

Initial testing in development looks like its working great. I'll do some testing in our staging environment tomorrow when I'm back in the office to see if I can find any issues.

[2021-06-28 04:30] Reizar commented on #22
@alachaum looks to be working smoothly in our staging environment. So no issues from my end.

Thanks!!

[2021-06-29 10:19] alachaum commented on #22
Great to hear! We're in the final stages of testing for v0.12.0. The official version should come out soon.

[2021-07-19 19:25] matthewford opened #35 "Any chance of persisting cron in the database"
Having a hard time getting cloud sql and cloud redis to both be available via cloud run/build it seems like if you add a vpc to connect redis you loose cloud sql connection.

Would you be open to a option to store cron config in Postgres?

[2021-07-21 09:11] alachaum commented on #35
Hi @matthewford , I'm not really keen on adding more infrastructure dependencies to the library to be honest. I try to limit them to what Sidekiq requires so that people can easily migrate from Sidekiq to Cloudtasker when they move to Cloud Run. I had to rework cron, I would rather support Google Cron Scheduler.

Now you're saying you're struggling with VPC connections. I'm a bit surprise you're h

[2021-08-02 17:03] matthewford commented on #35
Thanks got the VPC working

[2021-08-02 17:03] #35 closed

[2021-08-02 22:03] matthewford opened #37 "Odd error on boot"
After sorting redis to store the cron jobs, now im now seeing an odd error on boot:

`ogle::Gax::PermissionDeniedError: GaxError RPC failed, caused by 7:Permission denied on 'locations/eu-west2' (or it may not exist).. debug_error_string:{"created":"@1627941649.186614634","description":"Error received from peer ipv4:142.250.200.10:443","file":"src/core/lib/surface/call.cc","file_line":1066,"grpc_m

[2021-08-02 22:15] matthewford commented on #37
Seems to occur when trying to create the schedule on boot.

[2021-08-03 10:45] matthewford commented on #37
no I replaced the permission rather when I was trying to add a new permission in :facepalm:

[2021-08-03 10:45] #37 closed

[2021-08-03 10:47] alachaum commented on #37
No worries @matthewford 😃

I was about to reply but glad you found the root cause!

[2021-08-03 19:03] matthewford opened #38 "default isn't the only default queue if using active job"
Emails are dropped into the mailer queue

[2021-08-04 06:34] alachaum commented on #38
@matthewford You can configure any additional queue to be processed locally and/or via Google Cloud Tasks.

**Locally**
`bundle exec cloudtasker -q mailer -q default`

**Google Cloud Tasks**
Just create a queue called "myapp-mailer"

[2021-08-16 13:45] eLod opened #39 "TypeError: wrong argument type Symbol (expected String)"
Rails 5.2.2, gem version 0.11.

It seems the `google.cloud.tasks.v2beta3.HttpRequest` message has a `map :headers, :string, :string, 3` (google-cloud-tasks 1.1.3, lib/google/cloud/tasks/v2beta3/target_pb.rb), however `Cloudtasker::Backend::GoogleCloudTask.format_task_payload` does a json encode-decode (deep duplication judging by the comment) with `symbolize_names: true`, which makes `payload[::ht

[2021-08-16 14:18] eLod opened #40 "ActionController::InvalidAuthenticityToken for Cloudtasker::WorkerController#run"
Rails 5.2.2, gem version 0.11.

`Cloudtasker::WorkerController` uses an ambigious superclass, if `Cloudtasker::ApplicationController` is not loaded it simply subclasses `::ApplicationController`, e.g. i can reproduce in console:

[code]

[code]

[2021-08-17 12:39] eLod opened #41 "Inconsistent executions count with ActiveJob.retry_on"
Rails 5.2.2, gem version 0.11.

I understand `retry_on` and company not supported yet (though `discard_on` simply works), so this is not strictly a bug.

`executions` (with `provider_id` and `priority` though these 2 are not problematic) is filtered from serialization (`ActiveJob::QueueAdapters#build_worker` and `ActiveJob::QueueAdapters::SERIALIZATION_FILTERED_KEYS`) and supplied by google cloud

[2021-08-17 12:46] eLod commented on #40
just to be clear/explicit: because `Cloudtasker::WorkerController` is not subclassing `Cloudtasker::ApplicationController`, the former is not having the `skip_before_action :verify_authenticity_token` (from the latter) leading to the `ActionController::InvalidAuthenticityToken` error

[2021-08-17 14:02] alachaum commented on #40
@eLod thanks for raising this issue. It looks weird to me that `Cloudtasker::WorkerController` is not inheriting `Cloudtasker::ApplicationController` in your context. Could you provide a minimal example on a repo which mimics your setup? I'll do some checks on my side as well.

[2021-08-17 14:02] #38 closed

[2021-08-17 14:13] alachaum commented on #39
I'll do some tests on my end. I don't recall having these kind of issues. On the other side `google-cloud-tasks` `v1.1.3` is fairly old (October 2019) so it's possible they didn't add support for symbol keys.

I'll do some testing on my end and let you know.

[2021-08-17 14:22] eLod commented on #40
well, i just checked, with a bare new rails app, only change is adding the cloudtasker gem:

with rails 5
[code]

with rails6
[code]

[2021-08-17 14:27] eLod commented on #39
well `google-cloud-tasks` is pinned at `~>1.0` (even for the rc variants), i checked `v.1.5.1` and the target_pb still contains the `map :headers, :string, :string, 3` line, so i haven't checked upgrading `google-cloud-tasks`

[2021-08-17 14:46] alachaum commented on #39
It might actually be related to google-protobuff. I'll do more testing

[2021-08-17 14:46] eLod commented on #39
well, this is a legacy application, but i found that actually `google-protobuf` was pinned to an old version (3.7.0-rc2), once resolved i could update `google-cloud-tasks` to 1.5.1 (and other libs like `google-gax` and `googleapis-common-protos`) and the issue is resolved. most likely the upgrade of those google libs solved the problem. feel free to close the issue.

[2021-08-17 15:00] eLod commented on #39
for reference the old-new versions:

[code]

[2021-08-17 15:14] eLod commented on #40
upon further checking it seems our active admin & devise & devise_authy initialization process is causing the `ApplicationController` to be loaded and causing the problem. i still think it's worth it to fix it in this library, but the fix is trivial (and the problem does not seem to affect rails 6), plus i am not sure how much of legacy code in our application is causing the problem, so feel free

[2021-08-17 15:37] eLod commented on #40
well, its active_admin and devise, the routes include something like `devise_for :users, ActiveAdmin::Devise.config`, where `ActiveAdmin::Devise` refers to `::Devise::SessionsController` which subclasses `Devise.parent_controller.constantize` through `DeviseController`, which in turn is simply `ApplicationController`.

i can confirm, with the bare new rails app, adding activeadmin and devise lates

[2021-08-17 15:50] eLod commented on #41
checked commenting out the `executions` from `SERIALIZATION_FILTERED_KEYS` and the override with `job_executions` in  `JobWrapper#perform` makes it work as expected (obviously this simply ignores the value sent in headers).

upon further thinking about this i am not sure what should be the expected way of working. `retry_on` already overlaps with the backend's retrial, e.g. `retry_on` simply resch

[2021-08-17 15:54] eLod commented on #40
oh i just found, most likely this somewhat cryptic pr #36 is trying to solve the same issue

[2021-08-18 07:08] alachaum commented on #39
Going to close this one. The solution is `bundle update google-protobuf`

[2021-08-18 07:08] #39 closed

[2021-08-18 07:17] alachaum commented on #40
Going to do more testing on my side. Looks like PR #36 is the way to go in the end.

[2021-08-18 07:30] alachaum commented on #41
I don't have full background as to why ActiveJob decided to go with the `retry_on` option. To me it seems (1) redundant with the retry capabilities of most backends and (2) confusing because errors handling logic is therefore split between `retry_on` and the backend retry logic.

I'm going to close this issue until there is a strong use case for it, in which case we can reopen.

[2021-08-18 08:49] eLod commented on #40
i really feel #36 is the wrong "solution", it keeps subclassing `::ApplicationController` (while `Cloudtasker::ApplicationController` becomes unused) which can introduce other problems in turn. i would suggest to simply correct the namespacing (or drop rails 5.2 support, or somehow note the problem, like in readme).

[2021-08-18 09:00] eLod commented on #41
well for me `retry_on` is the better/preferred way. first it's consistent, not locking into the backend's mechanism, so i am free to switch between sidekiq and cloudtasker and be confident the api is/behaves the same. that's a big win. second it has way more features than the backend, for example i can specify retry mechanism per exception class (though in rails 5 the exceptions are counted with a

[2021-08-18 11:11] eLod commented on #41
just checked with sidekiq, and can confirm, it works as described, e.g. with `retry_on Exception, wait: 5.seconds, attempts: 3` i see the 3 runs with `executions` 1, 2 and 3, then (error is reraised,) sidekiq's own retry mechanism kicks in, however `executions` is never increased anymore, so it stays at 3 for any further performs.

[2021-08-19 13:30] alachaum commented on #41
Fair enough. I've reopened the issue. If you feel like opening a PR for it, feel free to do so. Otherwise I'll check how to address this some time in the future.

[2021-08-19 13:32] alachaum commented on #40
I'll rewrite this PR. We can just get rid of ApplicationController I suppose - it's fairly useless.

[2021-08-19 13:36] eLod commented on #41
i can cook up a PR for this the next week, do you have any suggestions? should i just ignore the values from headers (when using the JobWrapper only, so only for ActiveJob)? should i add helper methods to activejob (so users can actually get those values if they want to)?

[2021-08-19 13:38] eLod commented on #40
sure that is also a solution, most likely the best one

[2021-08-19 14:15] alachaum commented on #22
Closing this issue as `v0.12.0` has been released.

[2021-08-19 14:15] #22 closed

[2021-08-25 16:08] alachaum commented on #40
This issue has been fixed in the following releases:
- `v0.9.5`
- `v0.10.2`
- `v0.11.1`
- `v0.12.1`

[2021-08-25 16:08] #40 closed

[2021-09-10 02:36] vovimayhem commented on #20
I'm not promising anything... but here I go :)

[2021-09-24 10:38] wagnerpereira opened #42 "Configure a specific processor_host for Cloudtasker::Cron::Schedule"
Use case:

Have one Cloud Run service for user actions and ActiveJob Tasks, and another Cloud Run Service with more CPU and Memoru resources to run heavier schedule tasks.

application_service => 01 vcpu 512M
application_cron_tasks => 04 vcpu 8gb RAM

For ActiveJob tasks, use config.processor_host = "application_service.run.app"

For Cloudtasker::Cron::Schedule ( Workers ), use processor_host = "a

[2021-09-28 14:56] matthewford opened #44 "grpc cannot be used before and after forking with `deliver_later`"
Hi,

We're running into an issue with deliver_later where this error is thrown.

grcp cannot be used before and after forking

Anyone seen this before?

Thanks,
Matt

[2021-09-28 15:05] matthewford commented on #44
is the issue possibly scheduling another job from within a job?

[2021-09-29 12:03] alachaum commented on #44
@matthewford I have never seen this issue actually. I don't believe it relates to Cloudtasker considering grcp is not part of the dependency tree (check the [Gemfile.lock](https://github.com/keypup-io/cloudtasker/blob/master/examples/rails/Gemfile.lock) for the Rails Example).

However I see that there was one grcp issue fixed in 2018 related to this error:
- Issue: https://github.com/grpc/grpc/is

[2021-09-29 12:25] alachaum commented on #42
@wagnerpereira At the moment it is not possible. However what is possible is to have one Cloud Run service for "regular" web traffic (user actions, API requests) and one Cloud Run service for background jobs.

It could be made possible to specify the processor host on each worker. That is the most elegant approach I believe.
[code]

Feel free to submit a PR. From a config perspective it should be

[2021-09-29 20:30] wagnerpereira commented on #42
@alachaum  Thanks for all the work done in cloudtasker to help Rails apps runs smooth in Cloud Run.  ❤️

I will try this approach. I'm moving large background schedule workloads from sidekiq to Cloud Tasks using cloudtasker.

02 months in production without any issues until now, nut now I have huge schedule tasks that need a higher configuration on cloud run service instance.

Thanks again!

[2021-09-30 09:46] dreamfall commented on #44
@alachaum hey,

gRPC is used by grpc-google-iam-v1 that's used by google-cloud-tasks 1.5.1. That's the latest version cloudtasker allows with google-cloud-tasks.

PR you mentioned actually raises the error, not fixes it (it was hanging the process before).

Perhaps we can try to upgrade google-cloud-tasks to 2.2? How complicated this update would be?

[2021-09-30 10:25] alachaum commented on #42
No worries! Don't hesitate to let me know if you struggle with this PR - I'm happy to help 👍

[2021-09-30 10:55] alachaum commented on #44
Searched for gr**c**p instead of gr**p**c in the Gemfile.lock 🤦 (renamed the issue title to avoid future confusion). Anyway, definitely related to cloudtasker.

Migrating to google-cloud-tasks `v2.2` is not that complicated I believe. Ideally we should maintain backward compatibility - which means discovering which version of google-cloud-tasks is installed and using the [right adapter](https://gi

[2021-10-01 15:48] wagnerpereira opened #45 "Cloudtasker::Cron::Schedule crash application load when schedule tasks ETA is 720h in the future"
CloudTasker::Cron load breaking application starts when worker tasks ETA is more then 720h in the future.

`2021-10-01T15:26:04.698271Z/usr/local/bundle/gems/google-gax-1.8.2/lib/google/gax/api_callable.rb:264:in `rescue in block in create_api_call': GaxError RPC failed, caused by 3:The Task.scheduleTime, 2021-11-01T03:00:00-07:00, is too far in the future. Schedule time must be no more than 720h

[2021-10-04 09:18] alachaum commented on #45
@wagnerpereira Thanks for raising this issue. GCP Cloud Tasks does not allow tasks to be scheduled more than 30 days in the future unfortunately. This limits Cron schedules to cron tasks every 30 days at most...

I believe the best approach here would be to propose another Cloudtasker cron extension leveraging GCP Cloud Scheduler (on top of the native Cloud Tasks implementation). See https://githu

[2021-10-04 11:14] wagnerpereira commented on #45
Thanks @alachaum , it was exactly what we did to bypass until we find an elegant way to solve this google tasks limitation using cloud scheduler.

I would offer help to update the documentation but I saw you already did. Thanks again.

🙌

[2021-10-04 11:25] matthewford commented on #44
Looking at the issue further I'm not sure if upgrading will fix the issue, as it mentions they will not fix the issue with treads.

[2022-01-03 15:20] alachaum commented on #27
Release candidate `v0.13.rc1` with support for Ruby 3 has been pushed to rubygems.

[2022-01-11 00:21] matthewtory commented on #20
Hello all. First off, thank you for developing this gem - it's absolutely fantastic! I'm using this with ActiveJob in my current project.

Second, I'm wondering if there's any updates on this? I can definitely see a need for this in the future. I understand there is no way currently to implement cron + ActiveJob + cloudtasker? Similarly for job locks/uniqueness? Again, thank you for all the effort

[2022-01-18 06:34] vincentpaca opened #50 "Remove `google-gax` dependency."
After installing `cloudtasker v0.12.2` I got the following warning after `bundle install`:

[code]

I haven't fully dug in to the code on the usages on google-gax yet but hopefully a dependency update will just work.  I can give it a shot if this wasn't already being worked on right now. If it is, is there an existing branch? Thanks in advance!

[2022-01-24 14:26] alachaum commented on #50
@vincentpaca the issue actually comes from using google-cloud-tasks v1, which cloudtasker is using at the moment.

I'll try to make a PR to address this and support google-cloud-tasks v2.

Closing as duplicate of #11

[2022-01-24 14:26] #50 closed

[2022-01-24 14:27] #27 closed

[2022-01-24 17:55] alachaum commented on #14
Closing this one. Since this issue was raised the build was reworked to 1) separate rubocop and 2) leverage bundler's cache. Build now runs in ~1m.

[2022-01-24 17:55] #14 closed

[2022-01-25 02:13] vincentpaca commented on #50
@alachaum ah good to know! Thank you.

[2022-01-25 12:43] #11 closed

[2022-01-25 13:53] alachaum commented on #50
Version `v0.13.rc2` with support for `google-cloud-tasks` v2 has been released (this means `google-gax` is no more required) 🎉

[2022-01-25 13:53] alachaum commented on #11
Version `v0.13.rc2` with support for `google-cloud-tasks` v2 has been released 🎉

[2022-01-28 12:35] benbonnet commented on #19
sorry to dig out this issue; I'm completely unable to have it working through active job :
- in production, nothing fails, but nothing happens
- in development (using ngrok with `config.mode = :production`), job sent via active job get executed, but it remains locally (not going through cloud tasks as it does using workers)

Is it the expected behaviour ? Is redis a requirement once you want to us

[2022-01-31 09:49] alachaum commented on #19
@benbonnet that's surprising. Are you able to make the [Rails example](https://github.com/keypup-io/cloudtasker/tree/master/examples/rails) work locally with ngrok?

Redis is only required for the extensions (unique job, cron and batch), which anyway are not compatible with ActiveJob. So you shouldn't require them and therefore you do not need Redis.

When you say:

It sounds odd to me. The jobs s

[2022-02-22 20:43] alfie-max opened #55 "Post-install message from google-gax"
Getting this as soon as i install the gem

[code]

what does this mean.. and what effects could this have for this gem in the future..

[2022-02-22 21:06] #44 closed

[2022-02-23 07:58] alachaum commented on #55
Hi @alfie-max , the current stable version of Cloudtasker is still using google-cloud-tasks `v1`, which relies on a now deprecated version of google-gax.

This will be fixed in cloudtasker `v0.13`, which uses google-cloud-tasks v2 and adds support for Ruby 3.

If you want to make the switch now you can put the following in your Gemfile:
[code]

I'll update this issue once `v0.13` is officially out

[2022-02-23 08:28] alfie-max commented on #55
Right.. i saw these.. but I’m not on ruby 3

[2022-02-23 09:06] alachaum commented on #55
Don't worry, `v0.13` supports Ruby 2 **and** Ruby 3

[2022-03-11 11:47] alachaum commented on #55
Cloudtasker `v0.13.0` has been released. The message should not appear anymore.

[2022-03-11 11:47] #55 closed

[2022-03-23 13:55] wagnerpereira opened #57 "Cloudtasker::Cron::Schedule trying to access wrong project and queue - not respecting initializer configuration"
Hey @alachaum, any idea why should the app starts to get the wrong project id ?

It's seems google SDK it getting the project ID from the application default user on the environment and not from the cloudtasker initializer configuration.

The documentations says that the configuration and project id on methods has precedency:
https://github.com/googleapis/google-cloud-ruby/blob/main/google-cloud-b

[2022-03-23 15:17] alachaum commented on #57
The `gcp_project_id` in Cloudtasker is only used to build the URIs of the queues (= location of the queues), not to configure the Google Cloud SDK. The Google Cloud SDK should always be configured from "environment" (= run user).

From what I see here, the `gcp_project_id` is set to `fabrica-dev` in Cloudtasker. Now it seems your Cloud Run `run user` doesn't have permission to access the the Googl

[2022-03-25 09:43] alachaum commented on #57
Oh right I see now :) Yes, this kind of issues can also happen locally when running multiple apps with the same redis db.

Glad you found the issue! By the way, I still have the plan to integrate GCP Scheduler to Cloudtasker. It's just been a bit busy on my side recently.

[2022-03-25 09:43] #57 closed

[2022-03-25 11:32] wagnerpereira commented on #57
Thank you @alachaum , I tried to alocate a dev last year to help with this schedule feature. We are having some issues with schedule tasks being lost / no rescheduled.

I will keep trying to find a space in out products agenda to help this importante project, mostly with this schedule jobs  resource.

Thank you again.

[2022-04-20 19:21] emerson-argueta commented on #28
I think oidc could be implemented using google's metadata server url:
http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/identity

Calling the endpoint and passing in the the query param "audience" as the configured processor_host will give back an identity token that can be used when sending the request stored in the cloud tasks queue.

I can see that this file:

[2022-05-08 23:46] geoffreyd commented on #6
It seems that your linked issue (154532072) is no longer available on Google's issue tracker.
According to [this issue](https://issuetracker.google.com/issues/190780984), it seems a problem was acknowledged, and supposedly fixed. Hopefully that's the case.

[2022-05-10 07:56] alachaum commented on #6
Thanks for the heads up @geoffreyd ! I'll give it another try to verify they actually fixed it. And if that's the case well.... I'll change the header used to detect retry counts! 🎉

PS: it seems my original issue got cleaned up on their side.

[2022-05-17 15:42] tiagojsag opened #63 "[Question/docs] How is the GCP project id retrieved when running on GCP?"
Hi everyone,

I'm deploying a RoR app on GCP Cloud Run, that uses Cloudtasker to schedule async workloads using GCP Cloud Tasks. While reviewing the gem's docs (specifically https://github.com/keypup-io/cloudtasker#cloud-tasks-authentication--permissions) there is a link to [Google Cloud Authentication guide](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-bigquery/AUTHENT

[2022-05-18 07:12] alachaum commented on #63
Hey @tiagojsag , that's a good point. I should probably be more specific in the docs around that point.

**To answer your question**: yes, you need to explicitly define `Cloudtasker.config.gcp_project_id` and `Cloudtasker.config.gcp_location_id`. These two parameters tell Cloudtasker where to create the background tasks.

What is automagically discovered is the identity of the service creating the

[2022-05-18 09:53] tiagojsag commented on #63
Thanks for answering my question! Do you think it's worth making this more explicit in the current docs?

[2022-05-18 10:22] alachaum commented on #63
Yes definitely 😊 Feel free to propose a wording via a PR.

Otherwise I'll do it.